<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include::header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div name="searchform" id="searchform" class="layui-form layui-form-pane">
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">标签名</label>
									<div class="layui-input-inline">
										<input lay-key="1" class="layui-input" id="searchName" placeholder="标签名" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">字典类型</label>
									<div class="layui-input-inline">
										<select lay-key="2"  id="typeId" name="typeId" title="字典类型" data-live-search="true">
											<option value="" selected="selected">全部</option>
											<option th:each="dictType: ${dictTypeList}" th:value="${dictType.typeId}" th:text="${dictType.typeName}"></option>
										</select>
									</div>
								</div>
								<div class="layui-inline">
									<button class="layui-btn" type="button"  id="reload">
										<i class="fa fa-search" aria-hidden="true"></i>查询
									</button>
									<button type="button" class="layui-btn btn-primary" onclick="add()">
										<i class="fa fa-plus" aria-hidden="true"></i>添加
									</button>
									<button shiro:hasPermission="system:dict:remove" type="button" class="layui-btn btn-danger" id="batchRemove">
										<i class="fa fa-trash" aria-hidden="true"></i>删除
									</button>
								</div>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true" class="layui-hide" lay-filter="dictList"></table>
				</div>
			</div>
		</div>
		<!--shiro控制bootstraptable行内按钮看见性 来自phoenix的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="common:dict:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="common:dict:remove">
			<script type="text/javascript">
				s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript"
		th:src="@{/js/appjs/common/dict/dict.js}"></script>
</body>
</html>