<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
<div class="form-group">	
								<label class="col-sm-3 control-label">发券流水号：</label>
								<div class="col-sm-8">
									<input id="provideId" name="provideId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">账户id：</label>
								<div class="col-sm-8">
									<input id="accountId" name="accountId" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">	
								<label class="col-sm-3 control-label">充值渠道码：</label>
								<div class="col-sm-8">
									<input id="channelCode" name="channelCode" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发券时间：</label>
								<div class="col-sm-8">
									<input id="provideTime" name="provideTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">优惠券号码：</label>
								<div class="col-sm-8">
									<input id="couponNo" name="couponNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">第三方订单号，商户订单号：</label>
								<div class="col-sm-8">
									<input id="thirdOrdernumber" name="thirdOrdernumber" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">充值描述：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">撤销标记， 0 未撤销， 1 已撤销：</label>
								<div class="col-sm-8">
									<input id="returnFlag" name="returnFlag" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">撤销时间：</label>
								<div class="col-sm-8">
									<input id="returnTime" name="returnTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">乐观锁：</label>
								<div class="col-sm-8">
									<input id="version" name="version" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">账户姓名：</label>
								<div class="col-sm-8">
									<input id="username" name="username" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">优惠券支持的业务代码：</label>
								<div class="col-sm-8">
									<input id="bizCode" name="bizCode" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">优惠券基础信息ID：</label>
								<div class="col-sm-8">
									<input id="couponId" name="couponId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">发券业务流水号，用于去重：</label>
								<div class="col-sm-8">
									<input id="bizFlow" name="bizFlow" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">优惠券对应的产品编号：</label>
								<div class="col-sm-8">
									<input id="productCode" name="productCode" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">优惠券状态， 0 未使用， 1 已使用， 2 已冻结，3 已过期：</label>
								<div class="col-sm-8">
									<input id="couponStatus" name="couponStatus" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">消费时间：</label>
								<div class="col-sm-8">
									<input id="consumeTime" name="consumeTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">有效期开始时间：</label>
								<div class="col-sm-8">
									<input id="periodStartTime" name="periodStartTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">有效期截止时间：</label>
								<div class="col-sm-8">
									<input id="periodEndTime" name="periodEndTime" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" th:src="@{/js/appjs/coupon/accountCouponInfo/add.js}">
	</script>
</body>
</html>
