<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div name="searchform" id="searchform" class="layui-form layui-form-pane">
							<div class="layui-form-item">
								<input id="statisticType" type="hidden" th:value="${statisticType}">
								<div class="layui-inline" th:if="${statisticType == '1'}">
									<label class="layui-form-label">科室</label>
									<div class="layui-input-inline">
										<select lay-key="1" id="deptCode" name="deptCode" title="科室">
								        	<option value="" selected="selected">全部科室</option>
								        	<option th:each="dept:${depts}" th:value="${dept.deptCode}" th:attr="deptId=${dept.deptId}" th:text="${dept.deptName}"></option>
								        </select>
									</div>
								</div>
								<div class="layui-inline" th:if="${statisticType == '2'}">
									<label class="layui-form-label">医生姓名</label>
									<div class="layui-input-inline">
										<input lay-key="1" class="layui-input" id="searchName" placeholder="医生姓名" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">开始日期</label>
									<div class="layui-input-inline">
										<input lay-key="2" class="layui-input" id="startTime" placeholder="开始日期" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">结束日期</label>
									<div class="layui-input-inline">
										<input lay-key="3" class="layui-input" id="endTime" placeholder="结束日期" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<button class="layui-btn" type="button"  id="reload">
										<i class="fa fa-search" aria-hidden="true"></i>查询
									</button>
								</div>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true" class="layui-hide" lay-filter="reserveChannelStatisticList"></table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" th:src="@{/js/appjs/system/reserveStatistic/reserveStatistic.js}"></script>
</body>
</html>