<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div name="searchform" id="searchform" class="layui-form layui-form-pane">
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">开始日期</label>
									<div class="layui-input-inline">
										<input lay-key="2" class="layui-input" id="startTime" placeholder="开始日期" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">结束日期</label>
									<div class="layui-input-inline">
										<input lay-key="3" class="layui-input" id="endTime" placeholder="结束日期" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">姓名</label>
									<div class="layui-input-inline">
										<input lay-key="1" class="layui-input" id="username" placeholder="姓名" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">手机号码</label>
									<div class="layui-input-inline">
										<input lay-key="2" class="layui-input" id="phoneno" placeholder="手机号码" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">身份证号码</label>
									<div class="layui-input-inline">
										<input lay-key="1" class="layui-input" id="idno" placeholder="身份证号码" type="text">
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">账户类型</label>
									<div class="layui-input-inline">
										<select lay-key="1" id="accountType" name="accountType" title="账户类型" >
								        	<option value="" selected="selected">全部</option>
								        	<option value="1">身份证</option>
								        	<option value="2">医保卡</option>
								        	<option value="3">院内就诊卡</option>
								        	<option value="4">居民健康卡</option>
								        </select>
									</div>
								</div>
								<div class="layui-inline">
									<label class="layui-form-label">开户渠道</label>
									<div class="layui-input-inline">
										<select lay-key="1" id="channelCode" name="channelCode" title="开户渠道" >
								        	<option value="" selected="selected">全部渠道</option>
								        	<option th:each="reserveChannel:${reserveChannels}" th:value="${reserveChannel.channelCode}" th:text="${reserveChannel.channelName}"></option>
								        </select>
									</div>
								</div>
								<div class="layui-inline">
									<button class="layui-btn" type="button"  id="reload">
										<i class="fa fa-search" aria-hidden="true"></i>查询
									</button>
								</div>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="account:accountInfo:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="account:accountInfo:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="account:accountInfo:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" th:src="@{/js/appjs/account/accountInfo/accountInfo.js}"></script>
</body>
</html>