<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="WX_ID" name="WX_ID" th:value="${wxBillsInfo.WX_ID}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="tradeOrderNo" name="tradeOrderNo" th:value="${wxBillsInfo.tradeOrderNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">交易时间 yyyy-MM-dd HH:mm:ss：</label>
								<div class="col-sm-8">
									<input id="tradeTime" name="tradeTime" th:value="${wxBillsInfo.tradeTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="appId" name="appId" th:value="${wxBillsInfo.appId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machId" name="machId" th:value="${wxBillsInfo.machId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machChildId" name="machChildId" th:value="${wxBillsInfo.machChildId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="deviceId" name="deviceId" th:value="${wxBillsInfo.deviceId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="hspsOrderNum" name="hspsOrderNum" th:value="${wxBillsInfo.hspsOrderNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" th:value="${wxBillsInfo.userId}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="tradeType" name="tradeType" th:value="${wxBillsInfo.tradeType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="tradeStatus" name="tradeStatus" th:value="${wxBillsInfo.tradeStatus}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="depositBankNo" name="depositBankNo" th:value="${wxBillsInfo.depositBankNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="currency" name="currency" th:value="${wxBillsInfo.currency}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="orderFee" name="orderFee" th:value="${wxBillsInfo.orderFee}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="redBagFee" name="redBagFee" th:value="${wxBillsInfo.redBagFee}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="wxRefundOrderNo" name="wxRefundOrderNo" th:value="${wxBillsInfo.wxRefundOrderNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="hspsRefundOrderNo" name="hspsRefundOrderNo" th:value="${wxBillsInfo.hspsRefundOrderNo}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="refundFee" name="refundFee" th:value="${wxBillsInfo.refundFee}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="redBagRefundFee" name="redBagRefundFee" th:value="${wxBillsInfo.redBagRefundFee}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="refundType" name="refundType" th:value="${wxBillsInfo.refundType}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="refundStatus" name="refundStatus" th:value="${wxBillsInfo.refundStatus}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="commodity" name="commodity" th:value="${wxBillsInfo.commodity}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machDataPackage" name="machDataPackage" th:value="${wxBillsInfo.machDataPackage}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="serviceFee" name="serviceFee" th:value="${wxBillsInfo.serviceFee}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="rate" name="rate" th:value="${wxBillsInfo.rate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="crtTime" name="crtTime" th:value="${wxBillsInfo.crtTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="addRefundFee" name="addRefundFee" th:value="${wxBillsInfo.addRefundFee}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="addRefundNum" name="addRefundNum" th:value="${wxBillsInfo.addRefundNum}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="addRefundDate" name="addRefundDate" th:value="${wxBillsInfo.addRefundDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">医院编码：</label>
								<div class="col-sm-8">
									<input id="hosCode" name="hosCode" th:value="${wxBillsInfo.hosCode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">交易日期 yyyy-MM-dd ：</label>
								<div class="col-sm-8">
									<input id="transDate" name="transDate" th:value="${wxBillsInfo.transDate}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/paycenter/wxBillsInfo/edit.js">
	</script>
</body>
</html>
