<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div name="searchform" id="searchform" class="layui-form layui-form-pane">
							<div class="layui-form-item">
								<div class="layui-inline">
									<button class="layui-btn" type="button"  id="reload">
										<i class="fa fa-search" aria-hidden="true"></i>刷新
									</button>
									<button shiro:hasPermission="paycenter:unionpayConfig:add" type="button" class="layui-btn btn-primary" onclick="add()">
										<i class="fa fa-plus" aria-hidden="true"></i>添加
									</button>
								</div>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="paycenter:unionpayConfig:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="paycenter:unionpayConfig:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="paycenter:unionpayConfig:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" th:src="@{/js/appjs/paycenter/unionpayConfig/unionpayConfig.js}"></script>
</body>
</html>